{% extends 'blog/base.html' %}

{% block content %}
<div class="text-center">


<h1 style="font-family: 'Roboto Slab', serif;"> Hello World! </h1>
<p style="font-family: 'Roboto Slab', sans-serif; font-size:1.5em;"> Welcome to my Website! <a>This Website will tell you all about me, and will give you a platform to post your opinions on my blog.</a> </p>
  <div> {% load static %} <img src="{% static "images/aaditimage.jpeg" %}" alt="AaditBhatia!" class="aadit" style= width:30% height="400" style="float: right;  "/>
   {% load static %} <img src="{% static "images/me.jpg" %}" alt="AaditBhatia!" class="aadit" style=  "border-radius:70%; height="400" style="float: right;"/></div>
   </div>



 {% endblock %}
